
@import './icons.scss';
@import './components/_footer.scss';
@import './components/_swiper.scss';
@import './components/_header.scss';
@import './components/_dropzone.scss';
@import './components/_hosting.scss';
@import './components/_search-home.scss';
@import './components/_hero.scss';
@import './components/_listings.scss';
@import './components/_gallery.scss';
@import './components/_avatar.scss';
@import './pages/search.scss';
@import './pages/listing.scss';
@import './pages/hosting.scss';
@import './grid.scss';

/* Custom color theme properties */

:root {
    --f7-theme-color: #245abc;
    --f7-breadcrumbs-item-active-color: #245abc;
    --f7-theme-color-rgb: 0, 98, 65;
    --f7-theme-color-shade: #19489e;
    --f7-theme-color-tint: #2c62c5;
    //--f7-button-raised-box-shadow: 0;
    --f7-page-bg-color: #fff;
    --f7-font-size: 16px;
    --f7-line-height: 1.85rem;
    --f7-button-text-transform: none;
    --f7-button-large-text-transform: none;
    --swiper-navigation-size: 10px;
    --f7-card-margin-horizontal: 0;
    --f7-card-header-padding-vertical: 0;
    --f7-card-header-padding-horizontal: 0;
    --f7-panel-width: 400px;
    --f7-table-cell-padding-vertical: 10px;
    --f7-table-head-font-size: 14px;
    --f7-table-body-cell-height: 40px;
    --f7-appbar-height: 60px;
    --f7-navbar-tablet-height: 60px;
    --f7-navbar-bg-color: #fff;
    --f7-toolbar-bg-color: #fff;
    --f7-appbar-bg-color: #fff;
    --f7-panel-backdrop-bg-color: rgb(0 0 0 / 50%);
    --f7-list-item-min-height: 50px;
    --f7-list-margin-vertical: 0;
    --f7-block-margin-vertical: 0;
    --f7-block-title-font-size: 18px;
    --f7-block-margin-horizontal: 0;
    --f7-block-title-margin-left: 0;
    --f7-block-padding-horizontal: 0;
    --f7-input-outline-height: 46px;
    //--f7-card-content-padding-horizontal: 0;
    --f7-card-content-padding-vertical: 22px;
    --f7-card-content-padding-horizontal: 22px;
    --f7-page-title-padding-left: 0;
    --f7-page-title-padding-right: 0;
    //--f7-card-footer-padding-horizontal: 0;
    --f7-card-border-radius: 12px;
    //--f7-card-box-shadow: none;
    --f7-border-color: #DDDDDD;
    --f7-list-item-border-color: #DDDDDD;
    --f7-list-inset-side-margin: 0;
    --f7-table-body-font-size: 16px;
    --f7-table-label-cell-padding-horizontal: 0;
    --f7-menu-list-font-size: 16px;
    --f7-grid-gap: 15px;
    //--swiper-theme-color: #ffffff;
    --f7-block-title-white-space: auto;
    --f7-button-padding-horizontal: 22px;
    --f7-button-small-outline-border-width: 1px;
    --f7-button-outline-border-width: 1px;
    --f7-stepper-border-width: 1px;
    --f7-stepper-small-border-width: 1px;
    --f7-button-height: 42px;
    --f7-button-bg-color: #fff;
    --f7-button-small-height: 32px;
    --f7-button-small-font-weight: 500;
    --f7-button-small-text-transform: none;
    --f7-dialog-width: 400px;
    --f7-dialog-button-text-transform: none;
}

.aurora {
    --f7-checkbox-size: 22px;
    --f7-checkbox-border-radius: 50%;
    --f7-checkbox-border-width: 1px;
    --f7-checkbox-inactive-color: #c7c7cc;
}
.dark{
    background-color: #000000;
    color: #fff;
}
.tabbar .tab-link-highlight, .tabbar-labels .tab-link-highlight{
    bottom: 0;
}
.navbar ~ * .toolbar-top{
    top: 0;
}
.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.media-img {
    position: relative;
    padding-bottom: 36.25%;
    height: 100%;
    width: 36%;

    & img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
}

.card {
   & .media {
    border-radius: var(--f7-card-border-radius);
   }
   & .media-img, .media-img img {
    border-bottom-left-radius: var(--f7-card-border-radius);
    border-top-left-radius: var(--f7-card-border-radius);
   }
}
.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 15px;
    & .media-title{
        align-self: center!important;
    }
}
 .block{  
padding: 0px !important;
 }
a {
    color: inherit;
}
a.link {
    color: var(--f7-theme-color);
}
.framework7-root {
    overflow: auto;
}
.section-content{
    padding: 30px 0;
}
*, *::before, *::after {
    text-decoration: none;
}
body {
    background: #fff;
    margin: 0;
    padding: 0;
}
html.with-modal-popup > body {
    padding: 0 !important;
}
figure {
    margin: 0;
    width: 100%;
    height: 100%;
}

.slider-slide {
    display: block;
    height: auto;
    width: 300px;
    position: relative;
}
.list li{
    list-style: none;
}
.accordion-item .item-content{
    padding-left: 0px;
}
.card.bordered{
    border: 1px solid var(--f7-border-color) !important;
    box-shadow: none;
}
.card-header:after{
    content: none;
}
.card{
    text-align: left;
}
.leaflet-container {
    width: 100%;
    height: 100%;
}
.popup.popup-tablet-fullscreen.modal-in {
    top: 20px;
    bottom: 20px;
    right: 10%;
    left: 20px;
    box-shadow: var(--f7-popup-box-shadow);
    border-radius: var(--f7-popup-tablet-border-radius, var(--f7-popup-border-radius));
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}
/* For normal pages 
.page {
    position: relative;
}
/* For master pages 
.page.page-master-detail-root {
    position: absolute;
}*/
.panel-backdrop{
    top: 0;
}
.page-content.tab{
padding-top: 20px;
}

.rounded.button {
    background-color: #fff;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    box-shadow: rgb(0 0 0 / 32%) 0px 1px 3px;
    z-index: 1;
    padding: 0;
}
.rounded.button.button-small {
    width: 36px;
    height: 36px;
    & i{
        font-size: 18px;
    }
}
.table-list ul {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    overflow: auto;
    padding-left: calc(var(--f7-safe-area-left) + var(--f7-list-item-padding-horizontal));
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.table-list ul::-webkit-scrollbar {
    display: none;
    opacity: 0;
}

.table-list li {
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    align-content: space-between;
    scroll-snap-align: center center;
}

.tab-footer {
    height: auto;
    padding: var(--f7-typography-padding)!important;
    bottom: 0;
    position: absolute;
}
.accordion-item-opened .accordion-item-content{
    padding: 15px 0px;
}
.map-container {
    display: block;
    position: relative;
    height: 500px;
    width: 100%;
    border-radius: 12px;
    & .leaflet-container{
        border-radius: 12px;
    }
}


#list-type_check li,
.flex-grow-1 {
    flex-grow: 1;
}

/* Your app custom styles here */

.avatar-img{
    border-radius: 50%;
}


/* Images */

.media-thumb {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding-top: 61.29%;
    border-radius: 12px;

    & img.media-img {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        -o-object-fit: cover;
        object-fit: cover;
        transition: all .2s ease-in-out;
    }
}

.thumb {
    border-radius: 12px;
}

.img-fluid {
    height: auto;
    width: 100%;
}
.feature-media img {
    height: 56px;
    width: auto;
}

/* Spacings */

.padding-xl {
    padding: 64px 64px !important;
}
.padding-vertical-xl {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.padding-vertical-md {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.list .item-subtitle{
    text-align: left;
}
/* Pages */
.page{
    padding-top: 60px;
}
.search-hero{
    background-color: #eee;
    min-height: 40vh;
    display: flex;
    align-items: center;
}

.page-heading{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 15px;
    position: relative;
    background-color: #F7F7F7;
    border-bottom: 1px solid var(--f7-border-color) !important;
}
/*
.page-heading::before {
    content: "";
    position: absolute;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 100%;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
     border-bottom-left-radius: 50% 25%;
    border-bottom-right-radius: 50% 25%;
}

/* Colors */

.color-red {
    --f7-theme-color: #da1e28;
    --f7-theme-color-rgb: rgb(218, 30, 40);
    --f7-theme-color-shade: #cd2931;
    --f7-theme-color-tint: #da1e28;
}

.color-blue {
    --f7-theme-color: #1148b7;
    --swiper-theme-color: #1148b7;
}
.color-green {
    --f7-theme-color: #00a862;
    --swiper-theme-color: #00a862;
}

.color-black {
    --f7-theme-color: #121212;
    --swiper-theme-color: #121212;
}

.bg-light {
    background-color: #eee;
}

.bg-dark {
    background-color: #121212;
    color: #fff;
    * {
        color: #fff;
    }
}

.list-unstyled {
    margin: 0;
    list-style: none;
    padding: 0;
}

.mb-3 {
    margin-bottom: 3em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-1 {
    margin-bottom: 1em;
}

.button {
    & svg {
        height: 20px;
        width: 20px;
        margin-right: 4px;
    }
    .button-outline svg {
        fill: var(--f7-theme-color);
    }
    .button-fill svg {
        fill: #fff;
    }
}

.close.button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #222;
    padding: 0;
}

.list-table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    & tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }
    & td{
    color: rgb(143, 143, 143);
    overflow: hidden;
    display: table-cell;
    text-overflow: ellipsis;
    vertical-align: top;
    border: 0px;
    padding: 0px 10px 12px;
    overflow-wrap: break-word;
    }
}

.icon-back:after, .icon-prev:after, .icon-forward:after, .icon-next:after{
    font-size: 18px;
}


  
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    /* CSS */
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    /* CSS */
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    /* CSS */
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS */
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    /* CSS */
    .nav-item{
        display: none;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .panel {
        width: 80%;
    }
}