.main-footer {
    background: #F9F9F9;
    color: #1b1b1b !important;
    padding: 60px 0px;
    li > a,
    .block-title {
        color: #1b1b1b;
    }
    hr{
        border-top: 1px solid rgb(255 255 255 / 10%);
    }
}

.footer__link {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    display: block;
}