.circleUser___2pOXp {
    width: 30px;
    background: #ccc;
    height: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    margin-right: 4px;

    & img{
        margin: auto;
    }
}