.it-grid-item-wrapper,
.it-grid-list-wrapper {
    position: relative;
}

.it-grid-item-wrapper .img-responsive-wrapper .img-responsive {
    padding-bottom: 100%
}

.it-grid-item-wrapper .it-griditem-text-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px 8px;
    align-items: center
}

.it-grid-item-wrapper .it-griditem-text-wrapper .it-griditem-text {
    font-size: .8rem;
    color: #435a70;
    font-weight: 600
}

.it-grid-item-wrapper .it-griditem-text-wrapper .icon {
    flex-shrink: 0;
    position: relative;
    right: -8px;
    fill: var(--primary);
    width: 24px;
    height: 24px
}

.it-grid-item-wrapper.it-grid-item-overlay {
    position: relative
}

.it-grid-item-wrapper.it-grid-item-overlay .it-griditem-text-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: 0 0;
    padding: 8px 16px;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .5)
}

.it-grid-item-wrapper.it-grid-item-overlay .it-griditem-text-wrapper .it-griditem-text {
    color: #fff
}

.it-grid-item-wrapper.it-grid-item-overlay .it-griditem-text-wrapper .icon {
    fill: #fff
}

.it-grid-item-wrapper a:hover .it-griditem-text {
    text-decoration: underline
}

.it-grid-item-wrapper.it-grid-item-double-w .img-responsive-wrapper .img-responsive {
    padding-bottom: calc(50% - 2px)
}

.it-grid-list-wrapper:nth-of-type(1) .img-responsive {
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
}

.it-grid-list-wrapper div[class^=col-] {
    padding: 0 2px 4px
}

.it-grid-list-wrapper .grid-row {
    display: flex;
    margin-left: -2px;
    margin-right: -2px;
    flex-wrap: wrap
}

.it-grid-list-wrapper.it-image-label-grid {
    padding-left: 16px;
    padding-right: 16px
}

.it-grid-list-wrapper.it-image-label-grid div[class^=col-] {
    padding: 0 8px 16px
}

.it-grid-list-wrapper.it-image-label-grid .grid-row {
    margin-left: -20px;
    margin-right: -20px
}

.it-grid-list-wrapper.it-masonry.it-image-label-grid div[class^=col-] {
    padding-bottom: 0
}

.it-grid-list-wrapper.it-masonry .card-columns {
    margin-left: -20px;
    margin-right: -20px;
    -moz-column-gap: 0;
    column-gap: 0
}

.it-grid-list-wrapper.it-masonry .card-columns .it-grid-item-wrapper {
    -moz-column-break-inside: avoid;
    break-inside: avoid-column;
    display: inline-block;
    width: 100%;
    margin-bottom: 16px
}

.it-grid-list-wrapper.it-masonry .card-columns .it-grid-item-wrapper .img-responsive {
    padding-bottom: initial;
    height: auto
}

.it-grid-list-wrapper.it-masonry .card-columns .it-grid-item-wrapper .img-responsive .img-wrapper {
    position: inherit;
    left: initial;
    right: initial;
    width: initial;
    height: initial
}

.it-grid-list-wrapper.it-masonry .card-columns .it-grid-item-wrapper .img-responsive .img-wrapper img {
    height: auto;
    -o-object-fit: initial;
    object-fit: initial
}

_:-ms-fullscreen,
.it-grid-list-wrapper.it-masonry .card-columns .it-grid-item-wrapper .img-responsive {
    padding-bottom: 0
}

@media (min-width:576px) {
    .progress-bar-label {
        font-size: .667rem
    }
    .it-grid-list-wrapper.it-masonry .card-columns {
        -moz-column-count: 2;
        column-count: 2
    }
}

@media (min-width:992px) {
    .it-grid-list-wrapper.it-masonry .card-columns {
        -moz-column-count: 3;
        column-count: 3
    }
    .it-grid-item-wrapper.it-grid-item-overlay .it-griditem-text-wrapper {
        padding: 16px 24px
    }
    .it-grid-item-wrapper .it-griditem-text-wrapper .it-griditem-text,
    .it-grid-item-wrapper.it-grid-item-overlay .it-griditem-text-wrapper .it-griditem-text {
        font-size: 1rem
    }
    .it-grid-item-wrapper .it-griditem-text-wrapper .icon {
        width: 32px;
        height: 32px
    }
}
.gallery-actions-btn {
    position: absolute;
    bottom: 30px;
    left: 20px;
    z-index: 1000000;
}