#search-home_hero {
    height: 0;
    padding-top: 66.6667%;
    background: #d8d8d8;
    position: relative;
    height: 60vh;
    &  .hero-overlay{
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: absolute;
     &  img {
        top: 0;
        left: 0;
        overflow: hidden;
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}
}
.search-form .list {
    padding: 0;
}
.item-cell.item-input{
    padding: 0px 10px;
}
.item-cell.item-input.action {
    max-width: 15%;
}
.item-cell.item-input.switch {
    max-width: 30%;
}