

$h1-font-size: 1.75rem;


$bg-light: #F4F5F2;

$swiper-navigation-size: 20px;
$swiper-theme-color: #121212;
$link-color: #121212;

// Colors
$color-primary: #3182CE;

// Borders
$border-radius: 6px;
$border-color-strong: #979797;
$border-color: #c4c4c4;

// Vertical base space
$v-gap: 8px !default;

// Gridlist **************
$grid-item-df-proportion: 66.81222707423581%;
$grid-item-df-double-proportion: 33.4061135371179%;
$grid-item-text-size: 1rem;
$grid-item-text-size-mob: 0.8rem;
$grid-list-default-gap: 2px;
$grid-list-text-gap: $v-gap;
$grid-item-sm-col: 50%;
$grid-item-lg-col: 33.333333%;
$grid-item-icon-mob-size: 24px;
$grid-item-icon-size-desk: 32px;


