:root{
    --swiper-theme-color: #121212;
    --swiper-navigation-size: 20px;
    //--bs-link-color: initial;
    --bs-card-cap-bg: #fff;
    --bs-dropdown-min-width: 14rem;
}
a {
    text-decoration: none;
}
.bg-mode {
    background: #fff !important;
}
.card-grid .card-grid-sm {
    height: calc(200px - var(--bs-gutter-y) / 2);
}
figure {
    margin: 0;
}
#main-app {
    margin: auto;
    max-width: 1600px;
}
.page-content{
    padding: 50px 0;
}
.page-heading{
    background-color: #fafafa;
    padding-top: 50px;
    padding-bottom: 50px;
}
.dropdown-item {
    padding: 0 var(--bs-dropdown-item-padding-x);
    min-height: 50px;
    line-height: 50px;
}
.modal-fullscreen {
    width: 90vw;
    margin: auto;
}
.modal-fullscreen .modal-content {
    height: 94%;
}