:root{
    //--bs-link-color: initial;
    --bs-card-cap-bg: #fff;
    --bs-dropdown-min-width: 14rem;
}
hr{
    border-color: $border-color;
}
/*
**
** CHAKRA UI 
**
*/
.chakra-modal__footer {
    border-top: 1px solid $border-color;
}
input,
input[type="text"],
input[type="number"],
input[type="checkbox"],
input[type="radio"]{
    border-color: $border-color;
}

/* Forms */
/*
**
** 
**
*/
.color-link{
    color: #3182CE;
}

a {
    text-decoration: none;
}
span {
    font-weight: 400;
}
ol, ul {
    padding-left: 0;
    margin: 0;
}
.tabler-icon{
    height: 18px;
    width: auto;
}

.card-grid .card-grid-sm {
    height: calc(200px - var(--bs-gutter-y) / 2);
}
figure {
    margin: 0;
}
