.autocomplete{
    padding: 10px !important;
    background-color: #fff !important;
    position: absolute !important;
    z-index: 1000;
    border-radius: 6px;
    border: 1px solid $border-color;
    z-index: 1000;
}