.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    &.subnav{
        border-bottom: 1px solid $border-color;
    }

    .nav-link {
        position: relative;
        display: block;
        padding: 15px 10px;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        &.active{
            box-shadow: inset 0px -2px 0 $color-primary;
        }
    }

}