.map-button {
    background: url(https://beta.resthotels.it/uploads/static/map-button-bg.png) center center #E5E5E5;
    height: auto;
    padding: 40px 20px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid var(--f7-border-color);
    & .button{
        margin: auto;
    }
}
.search-page_filters{
    margin: 0;
}
#map-popup{
    height: 100%;
    width: 100%;
}
.main-search__tabs {
    position: relative;
    flex-flow: row;
    flex-wrap: nowrap;
    max-width: 44%;
    align-self: center;
    overflow: hidden;
    & .card{
        padding: 30px;
    }
}
@media (min-width: 320px) and (max-width: 768px) {
    .main-search__tabs {
        max-width: 100%;
        margin: auto;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .main-search__tabs {
        max-width: 70%;
        margin: auto;
    }
}

#fab-save_search {
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 1500;
    bottom: calc(var(--f7-fab-margin) + var(--f7-safe-area-bottom));
}

