.it-grid-list-wrapper .grid-row {
    display: flex;
    margin-left: -2px;
    margin-right: -2px;
    flex-wrap: wrap;
}
.it-grid-item-wrapper.it-grid-item-overlay {
    position: relative;
}
.it-grid-item-wrapper a {
    display: block;
    text-decoration: none;
    color: #17324d;
}
.it-grid-item-wrapper.it-grid-item-overlay .it-griditem-text-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0);
    padding: 8px 16px;
    color: #fff;
    text-shadow: 0 1px 4px rgb(0 0 0 / 50%);
}
.gallery-cta {
    position: absolute;
    display: block;
    z-index: 100;
    bottom: 20px;
    left: 20px;
}
#block-virtualtour{
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 500px;
    position: relative;
    & iframe{
        height: 100%;
        width: 100%;
        position: absolute;
    }
}