#listing-gallery {
    position: relative;
}

.tabs-modal{
    height: 600px;
}
//mobile
.it-grid-item-wrapper {
    position: relative;
    // img default proportion
    .img-responsive-wrapper {
      border-radius: $border-radius;
      .img-responsive {
        padding-bottom: $grid-item-df-proportion;
        border-radius: $border-radius;
      }
    }
    & .it-grid-item-overlay.img-responsive-wrapper:after {
        content: "";
        border-radius: $border-radius;
        display: block;
        background: rgba(0,0,0,.35);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
  }
    // text
    .it-griditem-text-wrapper {
      position: absolute;
      z-index: 10000;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      padding: $v-gap;
      align-items: center;
      .it-griditem-text {
        font-size: $grid-item-text-size-mob;
      }
      .icon {
        flex-shrink: 0;
        position: relative;
        right: -$v-gap;
        width: $grid-item-icon-mob-size;
        height: $grid-item-icon-mob-size;
      }
    }
    a {
      display: block;
      text-decoration: none;
    }
    // hover
    a:hover {
      .it-griditem-text {
        text-decoration: underline;
      }
    }
    // double
    &.it-grid-item-double-w {
      .img-responsive-wrapper {
        .img-responsive {
          padding-bottom: calc(#{$grid-item-df-double-proportion} - #{$grid-list-default-gap});
        }
      }
    }
  }
  
  // grid default
  .it-grid-list-wrapper {
    padding-left: $grid-list-default-gap * 2;
    padding-right: $grid-list-default-gap * 2;
    // grid changes
    div[class^='col-'] {
      padding: 0 $grid-list-default-gap $grid-list-default-gap * 2 $grid-list-default-gap;
    }
    .grid-row {
      display: flex;
      margin-left: -$grid-list-default-gap;
      margin-right: -$grid-list-default-gap;
      flex-wrap: wrap;
    }
    // grid with label
    &.it-image-label-grid {
      padding-left: $grid-list-text-gap * 2;
      padding-right: $grid-list-text-gap * 2;
      // grid changes
      div[class^='col-'] {
        padding: 0 $grid-list-text-gap $grid-list-text-gap * 2 $grid-list-text-gap;
      }
      .grid-row {
        margin-left: -(($grid-list-text-gap * 2) + ($grid-list-default-gap * 2));
        margin-right: -(($grid-list-text-gap * 2) + ($grid-list-default-gap * 2));
      }
    }
  }
  