.btn{
    height: 40px;
}
.btn-white {
    background: #fff;
    border-color: rgb(0 0 0 / 20%);
    box-shadow: 0 1px 2px -2px rgb(29 29 27 / 10%);
}
.btn-outline-white {
    color: #fff;
    border-color: #fff;
}